{% extends "home.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-5" style="color: white;">Shopping Cart</h1>

    {% if cart %}
    <div class="product-list">
        {% for item in cart %}
            <div class="product-item">
                <img src="{{ url_for('static', filename=item.product.product_picture) }}" alt="{{ item.product.product_name }}" class="product-picture">
                <h3>{{ item.product.product_name }}</h3>
                <p class="current-price">$ {{ item.product.current_price }}</p>
                <p class="in-stock">In Stock: {{ item.product.in_stock }}</p>
                
                <div class="quantity-controls">
                    <label for="quantity">Quantity: </label>
                    <a class="minus-cart btn" pid="{{ item.id }}"><i class="fas fa-minus-square fa-lg"></i></a>
                    <span id="quantity">{{ item.quantity }}</span>
                    <a class="plus-cart btn" pid="{{ item.id }}"><i class="fas fa-plus-square fa-lg"></i></a>
                </div>

                <div class="d-flex justify-content-between">
                    <a href="#" class="remove-cart btn btn-sm btn-secondary mr-3" pid="{{ item.id }}">Remove</a>
                </div>
            </div>
        {% endfor %}
    </div>

        <div>
            <form method="POST" action="{{ url_for('UserController.order_summary') }}">
                <button type="submit" class="complete-order-btn">Complete Order</button>
            </form>
        </div>
    </div>
    </div>
    
    {% else %}
        <h1 class="text-center mb-5" style="color: white;">Your Cart is Empty</h1>
    {% endif %}
</div>
{% endblock %}
