{% extends "home.html" %}

{% block body %}
<div class="container">
    <div class="product-list">
        {% for product, quantity in items %}
            <div class="product-item">
                <img src="{{ url_for('static', filename=product.product_picture) }}" alt="{{ product.product_name }}" class="product-picture">
                <h3>{{ product.product_name }}</h3>
                <p class="current-price">${{ product.current_price }}</p>
                <p class="in-stock">In Stock: {{ product.in_stock }}</p>
                <p>Quantity: {{ quantity }}</p>
                <button class="add-to-wishlist">Add to Wishlist</button>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        {% endfor %}
    </div>

    <div>
        <form method="POST" action="{{ url_for('UserController.order_summary') }}">
            <button type="submit" class="complete-order-btn">Complete Order</button>
        </form>
    </div>
</div>
{% endblock %}
