{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block body %}
<div class="col-sm-5 offset-sm-3" style="background-color: white; border-radius: 10px; margin-top: 20px;">
    <form style="padding: 30px;" method="POST">
       
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">


        <div class="mb-3">
            <label for="current_password" class="form-label">Current Password</label>
            <input type="password" id="current_password" name="current_password" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input type="password" id="new_password" name="new_password" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="confirm_new_password" class="form-label">Confirm New Password</label>
            <input type="password" id="confirm_new_password" name="confirm_new_password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
{% endblock %}
