<div class="product-item">
    <img src="{{ url_for('static', filename=product.product_picture) }}" alt="{{ product.product_name }}" class="product-picture">
    <h3>{{ product.product_name }}</h3>
    <p class="current-price">${{ product.current_price }}</p>
    <p class="in-stock">In Stock: {{ product.in_stock }}</p>
    
    <form action="{{ url_for('UserController.add_to_cart', item_id=product.id) }}" method="POST">
        <button type="submit" class="add-to-cart btn btn-primary">Add to Cart</button>
    </form>
    <form method="POST" action="{{ url_for('UserController.add_to_wishlist', product_id=product.id) }}">
        <button class="wishlist-button" style="background-color: transparent; border: none;">
            <i class="fa-heart {{ 'fas' if product.in_wishlist else 'far' }}" 
               style="color: {{ 'red' if product.in_wishlist else 'black' }};"></i>
        </button>
    </form>
    <form method="POST" action="{{ url_for('UserController.remove_from_wishlist', product_id=product.id) }}">
        <button class="wishlist-button" style="background-color: transparent; border: none;">
            <i class="fa-trash fas" style="color: black;"></i>
        </button>
    </form>
</div>
