{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<section class="form-container">
    <h3>Reset Your Password</h3>
    <p>Please enter your new password below.</p>
    <form method="POST" action="{{ url_for('auth.reset_password', token=token) }}">
        
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        
        <label for="new_password">New Password</label>
        <input type="password" id="new_password" name="new_password" class="form-input" required>
        
        <button type="submit" class="form-button">Reset Password</button>
    </form>
</section>
{% endblock %}
